
.customCheckmark {
    color: var(--activecolor); /* Change color to your preference */
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
  }
  
  /* Ensure the option container has relative positioning */
  .customOption {
    position: relative;
    padding-right: 30px; /* Space for the tick mark */
  }

  .optionContent {
    display: flex;
    align-items: center;
    width: 100%;
  }
  